src/conf/xml-resources/web-service-references/WebServiceRPL/wsdl/localhost_8080/WebServiceRPL/WebServiceRPL.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.me.org/" name="WebServiceRPL">
<types>
<xsd:schema>
<xsd:import namespace="http://service.me.org/" schemaLocation="http://localhost:8080/WebServiceRPL/WebServiceRPL?xsd=1"/>
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="tambahPostingan">
<part name="parameters" element="tns:tambahPostingan"/>
</message>
<message name="tampilPostingan">
<part name="parameters" element="tns:tampilPostingan"/>
</message>
<message name="tampilPostinganResponse">
<part name="parameters" element="tns:tampilPostinganResponse"/>
</message>
<message name="caripengirim">
<part name="parameters" element="tns:caripengirim"/>
</message>
<message name="caripengirimResponse">
<part name="parameters" element="tns:caripengirimResponse"/>
</message>
<portType name="WebServiceRPL">
<operation name="operation">
<input wsam:Action="http://service.me.org/WebServiceRPL/operationRequest" message="tns:operation"/>
<output wsam:Action="http://service.me.org/WebServiceRPL/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="tambahPostingan">
<input wsam:Action="http://service.me.org/WebServiceRPL/tambahPostingan" message="tns:tambahPostingan"/>
</operation>
<operation name="tampilPostingan">
<input wsam:Action="http://service.me.org/WebServiceRPL/tampilPostinganRequest" message="tns:tampilPostingan"/>
<output wsam:Action="http://service.me.org/WebServiceRPL/tampilPostinganResponse" message="tns:tampilPostinganResponse"/>
</operation>
<operation name="caripengirim">
<input wsam:Action="http://service.me.org/WebServiceRPL/caripengirimRequest" message="tns:caripengirim"/>
<output wsam:Action="http://service.me.org/WebServiceRPL/caripengirimResponse" message="tns:caripengirimResponse"/>
</operation>
</portType>
<binding name="WebServiceRPLPortBinding" type="tns:WebServiceRPL">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tambahPostingan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="tampilPostingan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="caripengirim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceRPL">
<port name="WebServiceRPLPort" binding="tns:WebServiceRPLPortBinding">
<soap:address location="http://localhost:8080/WebServiceRPL/WebServiceRPL"/>
</port>
</service>
</definitions>